{
  "extends": ["stylelint-config-standard-scss"],
  "plugins": ["stylelint-scss", "stylelint-order"],
  "ignoreFiles": ["**/node_modules/**"],
  "rules": {
    "at-rule-empty-line-before": [null,
      "except": ["first-nested"]
    ],
    "at-rule-no-vendor-prefix": true,
    "at-rule-no-unknown": null,
    "scss/at-rule-no-unknown": true,
    "block-closing-brace-empty-line-before": null,
    "block-closing-brace-newline-after": null,
    "block-opening-brace-space-before": null,
    "color-named": "never",
    "declaration-empty-line-before": null,
    "declaration-no-important": null,
    "font-family-name-quotes": "always-where-recommended",
    "font-weight-notation": "numeric",
    "function-url-no-scheme-relative": true,
    "function-url-quotes": "always",
    "length-zero-no-unit": true,
    "max-line-length": null,
    "media-feature-name-no-vendor-prefix": true,
    "no-descending-specificity": null,
    "no-duplicate-selectors": true,
    "property-no-vendor-prefix": true,
    "rule-empty-line-before": null,
    "selector-attribute-quotes": "always",
    "selector-max-attribute": 2,
    "selector-max-class": 7,
    "selector-max-combinators": 7,
    "selector-max-compound-selectors": 7,
    "selector-max-id": 0,
    "selector-max-specificity": null,
    "selector-max-type": 4,
    "selector-max-universal": 1,
    "selector-no-qualifying-type": [ true, {
      "ignore": [ "attribute", "class", "id" ]
    }],
    "selector-no-vendor-prefix": true,
    "value-keyword-case": "lower",
    "value-no-vendor-prefix": true
  }
}
