version: "2"
services:
  site:
    command: jekyll serve --incremental
    image: jekyll/jekyll:3.8.3
    volumes:
      - ./:/srv/jekyll
      - ./vendor/bundle:/usr/local/bundle
    ports:
      - 3131:3131
      - 35729:35729
      - 3000:3000
