<!-- Favicons -->
<link rel="apple-touch-icon" href="{{ site.baseurl }}/assets/img/favicons/apple-touch-icon.png?v={{ site.time | date: '%s' | uri_encode }}" sizes="180x180">
<link rel="icon" href="{{ site.baseurl }}/assets/img/favicons/favicon-32x32.png?v={{ site.time | date: '%s' | uri_encode }}" sizes="32x32" type="image/png">
<link rel="icon" href="{{ site.baseurl }}/assets/img/favicons/favicon-16x16.png?v={{ site.time | date: '%s' | uri_encode }}" sizes="16x16" type="image/png">
<link rel="manifest" href="{{ site.baseurl }}/assets/img/favicons/manifest.json?v={{ site.time | date: '%s' | uri_encode }}">
<link rel="mask-icon" href="{{ site.baseurl }}/assets/img/favicons/safari-pinned-tab.svg?v={{ site.time | date: '%s' | uri_encode }}" color="#ffffff">
<link rel="icon" href="{{ site.baseurl }}/favicon.ico?v={{ site.time | date: '%s' | uri_encode }}">
<meta name="msapplication-config" content="{{ site.baseurl }}/assets/img/favicons/browserconfig.xml?v={{ site.time | date: '%s' | uri_encode }}">
<meta name="theme-color" content="#5cc0af">
