<footer class="bd-footer text-muted">
  <div class="container-fluid p-3 p-md-5">
    <ul class="bd-footer-links">
      <li>
        <a class="text-uppercase" href="{{ site.link_main }}" onclick="ga('send', 'event', 'Footer', 'Docs links', 'Open Codefresh');" target="_blank" rel="noopener">Codefresh</a>
      </li>
      <li>
        <a class="text-uppercase" href="{{ site.link_plugins }}" onclick="ga('send', 'event', 'Footer', 'Docs links', 'Open Plugins');" target="_blank" rel="noopener">Plugins</a>
      </li>
      <li>
        <a class="text-uppercase" href="{{ site.link_community }}" onclick="ga('send', 'event', 'Footer', 'Docs links', 'Open Community');" target="_blank" rel="noopener">Community</a>
      </li>
      <li>
        <a class="text-uppercase" href="{{ site.link_cli }}" onclick="ga('send', 'event', 'Footer', 'Docs links', 'Open CLI Docs');" target="_blank" rel="noopener">CLI</a>
      </li>
      <li>
        <a class="text-uppercase" href="{{ site.link_api }}" onclick="ga('send', 'event', 'Footer', 'Docs links', 'Open API Swagger');" target="_blank" rel="noopener">API</a>
      </li>
      <li>
        <a class="text-uppercase" href="{{ site.baseurl }}/docs/whats-new/whats-new/" onclick="ga('send', 'event', 'Footer', 'Docs links', 'Open Changelog');" rel="noopener">Changelog</a>
      </li>

    </ul>
    <p>&copy; {{ 'now' | date: '%Y' }} <a href="https://codefresh.io">Codefresh.io</a></p>
  </div>
</footer>
