<footer class="bd-footer text-muted">
  <div class="container-fluid p-3 p-md-5">
    <ul class="bd-footer-links">
      <li><a href="{{ site.repo }}">GitHub</a></li>
      <li><a href="https://twitter.com/getbootstrap">Twitter</a></li>
      <li><a href="{{ site.baseurl }}/docs/examples/">Examples</a></li>
      <li><a href="{{ site.baseurl }}/docs/about/overview/">About</a></li>
    </ul>
    <p>&copy; 2018 <a href="https://codefresh.io">Codefresh.io</a> &middot; All Rights Reserved &middot; Docker<sup>&reg;</sup> and the Docker "Moby Dock" design are registered trademarks of Docker, Inc.</p>
  </div>
</footer>
