<script src="{{ site.cdn.jquery }}" integrity="{{ site.cdn.jquery_hash }}" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="{{ site.baseurl }}/assets/js/vendor/jquery.min.js"><\/script>')</script>

<script src="{{ site.baseurl }}/assets/js/vendor/popper.min.js"{% if site.github %} integrity="{{ site.cdn.popper_hash }}" crossorigin="anonymous"{% endif %}></script>

{%- if site.github -%}
  <script src="{{ site.cdn.js }}" integrity="{{ site.cdn.js_hash }}" crossorigin="anonymous"></script>
{%- else -%}
  <script src="{{ site.baseurl }}/dist/js/bootstrap.js"></script>
{%- endif -%}

{%- if page.layout == "docs" -%} {%- endif -%}

<script src="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js"></script>

{%- if site.github -%}
  <script src="{{ site.baseurl }}/assets/js/docs.min.js"></script>
{%- else -%}
  <script src="{{ site.baseurl }}/assets/js/vendor/anchor.min.js"></script>
  <script src="{{ site.baseurl }}/assets/js/vendor/clipboard.min.js"></script>
  <script src="{{ site.baseurl }}/assets/js/vendor/holder.min.js"></script>
  <script src="{{ site.baseurl }}/assets/js/vendor/jquery.smooth-scroll.min.js"></script>

  <script src="{{ site.baseurl }}/assets/js/vendor/jquery.cookie.min.js"></script>
  <script src="{{ site.baseurl }}/assets/js/vendor/jquery.navgoco.js"></script>

  <script src="{{ site.baseurl }}/assets/js/src/application.js"></script>
  <script src="{{ site.baseurl }}/assets/js/src/ie-emulation-modes-warning.js"></script>
  <script src="{{ site.baseurl }}/assets/js/src/pwa.js"></script>
{%- endif -%}

<script>
  window.intercomSettings = {
    app_id: "vbtbkm4c"
  };
</script>
<script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/vbtbkm4c';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()</script>
<!-- Start of HubSpot Embed Code -->
<script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/5054647.js"></script>
<!-- End of HubSpot Embed Code -->
