@use "sass:color";
@use "variables";

// Buttons

// Custom buttons for the docs.

.btn-link {
  color: variables.$bd-link-color;

  &:hover {
    color: variables.$bd-link-color;
    border-color: transparent;
  }
}

.btn-bd-primary {
  font-weight: 500;
  color: #fff;
  background-color: #35384b;
  border-color: none;
  border-radius: 4px;


  &:hover,
  &:active {
    color: #fff;
    background-color: variables.$bd-purple-bright;
    border-color: variables.$bd-purple-bright;
  }
}

.btn-bd-download {
  font-weight: 500;
  color: variables.$bd-download;
  border-color: variables.$bd-download;

  &:hover,
  &:active {
    color: variables.$bd-dark;
    background-color: variables.$bd-download;
    border-color: variables.$bd-download;
  }
}

.btn-get-started {
  color: variables.$btn-get-started;
  background-color: variables.$bd-white;
  border-radius: 5px;
  &:hover,
  &:active {
    color: variables.$bd-white;
    background-color: color.adjust(variables.$btn-get-started, $lightness: 15%);
  }
}

.btn-get-beta {
  color: variables.$white;
  background-color: variables.$btn-get-started;
  border-radius: 5px;
  &:hover,
  &:active {
    color: variables.$bd-white;
    background-color: color.adjust(variables.$btn-get-started, $lightness: 15%);
  }
}
