@use "variables";
@use "bootstrap/scss/bootstrap" as bootstrap;

// clipboard.js

// JS-based `Copy` buttons for code snippets.

.bd-clipboard {
  position: relative;
  display: none;
  float: right;

  + .highlight {
    margin-top: 0;
  }
}

.btn-clipboard {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  display: block;
  padding: .25rem .5rem;
  font-size: 75%;
  color: variables.$cf-dark-alt;
  cursor: pointer;
  background-color: bootstrap.$light;
  border: 0;
  border-top-right-radius: .25rem;
  border-bottom-left-radius: .25rem;

  @include bootstrap.media-breakpoint-up(md) {
    right: -1rem;
  }

  @include bootstrap.media-breakpoint-up(xxl) {
    top: 0;
    right: -1.5rem;
  }

  &:hover {
    color: variables.$white;
    background-color: variables.$bd-topaz-main;
  }
}

@media (width >= 768px) {
  .bd-clipboard {
    display: block;
  }
}
