@use "bootstrap/scss/bootstrap" as bootstrap;

// Docs color palette classes

@each $color, $value in bootstrap.$colors {
  .swatch-#{$color} {
    color: color-yiq($value);
    background-color: #{$value};
  }
}

@each $color, $value in bootstrap.$theme-colors {
  .swatch-#{$color} {
    color: color-yiq($value);
    background-color: #{$value};
  }
}

@each $color, $value in bootstrap.$grays {
  .swatch-#{$color} {
    color: color-yiq($value);
    background-color: #{$value};
  }
}
