// stylelint-disable no-duplicate-selectors, selector-max-combinators, selector-max-compound-selectors, selector-max-type, selector-no-qualifying-type

//
// Automatically style Markdown-based tables like a Bootstrap `.table`.
//
@import "../../node_modules/bootstrap/scss/images"; //;_images.scss;

@keyframes intro {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@include media-breakpoint-up(lg) {
  .container-fluid {
    max-width: 1440px;
  }
}

.docs-layout {
  z-index: 20;
  animation: intro 300ms both;
  animation-delay: .15s;

  &.container-fluid {
    max-width: 1440px;
  }
}

.simple-layout {
  .bd-content-inner {
    padding: 0 25px;
  }

  figure.highlight,
  div.highlighter-rouge {
    margin: 0 -25px 15px;
  }
}

.bd-content {
  position: relative;
  order: 1;
  margin-right: auto;
  margin-left: auto;

  @include media-breakpoint-up(lg) {
    max-width: 660px;
  }

  @include media-breakpoint-up(xxl) {
    max-width: 880px;
    padding-right: 2rem;
    padding-left: 2rem;
  }
}

.bd-content-inner {
  background: $white;

  // Hack the sticky header
  > h2[id],
  > h3[id],
  > h4[id] {
    pointer-events: none;

    > div,
    > a {
      pointer-events: auto;
    }
    > a {
      word-break: break-all;
    }

    &::before {
      display: block;
      height: 6rem;
      margin-top: -6rem;
      visibility: hidden;
      content: "";
    }
  }

  // Links
  a:not([data-type="image"]):not([data-anchorjs-icon="#"]) {
    color: $bd-topaz-main;
    background-color: rgba($bd-topaz-main, .1);
    border-bottom: 1px solid  rgba($cf-dark-alt, .2);
    transition: background .2s ease, border-color, .2s ease;

    &:hover {
      color: $bd-topaz-main;
      text-decoration: none;
      background-color: rgba($bd-topaz-main, .16);
      border-bottom-color: rgba($bd-topaz-main, .9);
    }
  }

  // Tables
  > table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;

    @include media-breakpoint-down(md) {
      display: block;
      overflow-x: auto;
      -ms-overflow-style: -ms-autohiding-scrollbar; // See https://github.com/twbs/bootstrap/pull/10057

      &.table-bordered {
        border: 0;
      }
    }

    // Cells
    > thead,
    > tbody,
    > tfoot {
      > tr {
        > th,
        > td {
          padding: .6rem;
          font-size: .875rem;
          vertical-align: top;
          border: 1px solid rgba($cf-dark-alt, .2);

          > p:last-child {
            margin-bottom: 0;
          }

          > .highlight {
            padding-right: .5rem;
            padding-left: .5rem;
            margin-top: .625rem;
            margin-right: 0;
            margin-left: 0;
          }

          .btn-clipboard {
            right: 0 !important;
          }
        }
      }
    }

    thead {
      color: $cf-light;
      background: $cf-dark-alt;
    }

    tbody tr:hover {
      background: $cf-light;
    }

    // Prevent breaking of code (e.g., Grunt tasks list)
    td:first-child > code {
      white-space: nowrap;
    }
  }

  > p {
    > img {
      @include img-fluid;
      margin-top: 2rem;
      margin-bottom: 2rem;
    }
  }

  figcaption {
    font-size: 1rem;
    color: $cf-dark-alt;
  }
}

//
// Docs sections
//
.bd-content-inner {
  position: relative;
  > h2:not(:first-child) {
    margin-top: 3.5rem;
  }

  > h3 {
    margin-top: 3.5rem;
  }

  > ul {
    padding-left: 1rem;
  }

  > ul li,
  > ol li {
    margin-top: .625rem;
  }

  @include media-breakpoint-up(lg) {
    > ul,
    > ol,
    > p {
      max-width: 100%;
      line-height: 1.8125rem;
    }
  }

  // List number styling
  > ol {
    padding-left: 1.3rem;
  }

  .bd-content-top-controls {
    position: absolute;
    top: -1px;
    right: -1px;
    left: 0;
    min-width: 50px;
    overflow: hidden;
    text-align: right;
    background: transparent;

    .dropdown-toggle {
      &.btn-control-dropdown {
        padding: .375rem;
        color: lighten($body-color, 29%);
        text-decoration: none;
        background-color: $body-bg;

        border: 1px solid $bd-doc-content-border;
        border-radius: 4px;
        border-top-left-radius: 0;
        border-bottom-right-radius: 0;

        &::before {
          content: none;
        }

        &.focus,
        &:focus {
          box-shadow: none;
        }
      }
    }

    .dropleft {
      display: none;
      @media (min-width: 768px) {
        display: inline-flex;
      }

      .dropdown-toggle {
        &.btn-control-dropdown {
          z-index: 1;

          i.fas {
            transition: all .2s linear;
            transform: rotate(0deg);
          }
        }
      }

      &.show {
        .dropdown-toggle {
          border-bottom-left-radius: 0;

          &.btn-control-dropdown {
            i.fas {
              //transition: all .2s linear;
              transform: rotate(62deg);
            }
          }
        }
      }

      .dropdown-menu {
        top: 0 !important;
        right: 0;
        left: auto !important;
        z-index: 0;
        display: inline-block;
        min-height: 38px;
        padding: .25rem 0;
        margin-right: -.115rem;
        visibility: hidden;
        border-top-color: transparent;
        border-right-color: transparent;
        border-top-left-radius: 0;
        border-bottom-right-radius: 0;
        transition: all .3s ease-in-out;
        transform: translateX(130px) !important;
        &.show {
          visibility: visible;
          transform: translateX(-30px) !important;
        }
        .form-group {
          padding: 0 5px;
          margin-bottom: 0;
        }
      }
    }
  }
}

.bd-title {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.1;

  @include media-breakpoint-up(lg) {
    font-size: 3rem;
  }
}

.bd-lead {
  font-size: 1.125rem;
  font-weight: 300;
  color: $cf-dark-alt;

  @include media-breakpoint-up(sm) {
    max-width: 80%;
    margin-bottom: 2rem;
    font-size: 1.5rem;
  }
}

.bd-improve-link {
  display: flex;
  justify-content: flex-end;

  a {
    display: block;
    padding: .375rem 0;
    font-size: 1rem;
    color: $cf-dark-alt !important;
    text-decoration: underline !important;
    background-color: transparent !important;
    border-color: transparent !important;

    &:hover {
      color: $bd-topaz-main !important;
    }
  }
}

.bd-text-purple { color: $bd-purple; }
.bd-text-purple-bright { color: $bd-purple-bright; }

.bd-text-topaz-main { color: $bd-topaz-main; }
.bd-text-white { color: #5fffbf; }
