// stylelint-disable no-duplicate-selectors, selector-max-combinators, selector-max-compound-selectors, selector-max-type, selector-no-qualifying-type

//
// Automatically style Markdown-based tables like a Bootstrap `.table`.
//
@import "../../node_modules/bootstrap/scss/images"; //;_images.scss;

@keyframes intro {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.docs-layout {
  z-index: 20;

  background: $bd-doc-content-bg;

  animation: intro 300ms both;
  animation-delay: .15s;
  &.container-fluid {
    max-width: 1920px;
  }
}

.simple-layout {
  .bd-content-inner {
    padding: 0 25px;
  }
  figure.highlight,
  div.highlighter-rouge {
    margin: 0 -25px 15px;
  }
}

.bd-content {
  position: relative;
  order: 1;
}

.bd-content-inner {
  background: $white;
  border: 1px solid $bd-doc-content-border;
  border-radius: 4px;

  // Hack the sticky header
  > h2[id],
  > h3[id],
  > h4[id] {
    pointer-events: none;

    > div,
    > a {
      pointer-events: auto;
    }
    > a {
      word-break: break-all;
    }

    &::before {
      display: block;
      height: 6rem;
      margin-top: -6rem;
      visibility: hidden;
      content: "";
    }
  }

  > table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;

    @include media-breakpoint-down(md) {
      display: block;
      overflow-x: auto;
      -ms-overflow-style: -ms-autohiding-scrollbar; // See https://github.com/twbs/bootstrap/pull/10057

      &.table-bordered {
        border: 0;
      }
    }

    // Cells
    > thead,
    > tbody,
    > tfoot {
      > tr {
        > th,
        > td {
          padding: $table-cell-padding;
          vertical-align: top;
          border: 1px solid $table-border-color;

          > p:last-child {
            margin-bottom: 0;
          }
        }
      }
    }

    // Prevent breaking of code (e.g., Grunt tasks list)
    td:first-child > code {
      white-space: nowrap;
    }
  }

  > p {
    > img {
      //@include img-fluid;
      @extend .img-thumbnail;
    }
  }
}

//
// Docs sections
//

.bd-content-inner {
  position: relative;
  > h2:not(:first-child) {
    margin-top: 3rem;
  }

  > h3 {
    margin-top: 1.5rem;
  }

  > ul li,
  > ol li {
    margin-bottom: .25rem;
  }

  @include media-breakpoint-up(lg) {
    > ul,
    > ol,
    > p {
      max-width: 100%;
    }
  }
  .bd-content-top-controls {
    position: absolute;
    top: -1px;
    right: -1px;
    left: 0;
    min-width: 50px;
    overflow: hidden;
    text-align: right;
    background: transparent;

    .dropdown-toggle {
      &.btn-control-dropdown {
        padding: .375rem;
        color: lighten($body-color, 29%);
        text-decoration: none;
        background-color: $body-bg;

        border: 1px solid $bd-doc-content-border;
        border-radius: 4px;
        border-top-left-radius: 0;
        border-bottom-right-radius: 0;

        &::before {
          content: none;
        }
        &.focus,
        &:focus {
          box-shadow: none;
        }
      }
    }
    .dropleft {
      display: none;
      @media (min-width: 768px) {
        display: inline-flex;
      }
      .dropdown-toggle {
        &.btn-control-dropdown {
          z-index: 1;
          i.fas {
            transition: all .2s linear;
            transform: rotate(0deg);
          }
        }
      }
      &.show {
        .dropdown-toggle {
          border-bottom-left-radius: 0;
          &.btn-control-dropdown {
            i.fas {
              //transition: all .2s linear;
              transform: rotate(62deg);
            }
          }
        }
      }
      .dropdown-menu {
        top: 0 !important;
        right: 0;
        left: auto !important;
        z-index: 0;
        display: inline-block;
        min-height: 38px;
        padding: .25rem 0;
        margin-right: -.115rem;
        visibility: hidden;
        border-top-color: transparent;
        border-right-color: transparent;
        border-top-left-radius: 0;
        border-bottom-right-radius: 0;
        transition: all .3s ease-in-out;
        transform: translateX(130px) !important;
        &.show {
          visibility: visible;
          transform: translateX(-30px) !important;
        }
        .form-group {
          padding: 0 5px;
          margin-bottom: 0;
        }
      }
    }
  }
}

.bd-title {
  margin-top: 1rem;
  margin-bottom: .5rem;
  font-weight: 600;

  /*
  @include media-breakpoint-up(sm) {
    font-size: 3rem;
  }
  */
}

.bd-lead {
  font-size: 1.125rem;
  font-weight: 300;

  @include media-breakpoint-up(sm) {
    max-width: 80%;
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }
}

.bd-text-purple { color: $bd-purple; }
.bd-text-purple-bright { color: $bd-purple-bright; }

.bd-text-topaz-main { color: $bd-topaz-main; }
.bd-text-white { color: $bd-white; }
