//
// Footer
//

.bd-footer {
  font-size: 85%;
  text-align: center;
  background-color: $cf-dark;

  a {
    color: $bd-topaz-main;
    background-color: rgba($bd-topaz-main, .1);
    border-bottom: 1px solid  rgba($cf-dark-alt, .2);
    transition: background .2s ease, border-color, .2s ease;

    &:hover,
    &:focus {
      color: $bd-topaz-main;
      text-decoration: none;
      background-color: rgba($bd-topaz-main, .16);
      border-bottom-color: rgba($bd-topaz-main, .9);
    }
  }

  p {
    margin-bottom: 0;
    color: rgba($white, .5) !important;
  }

  @include media-breakpoint-up(sm) {
    text-align: left;
  }
}

.bd-footer-links {
  padding-left: 0;
  margin-bottom: 1rem;

  li {
    display: inline-block;

    + li {
      margin-left: 1rem;
    }
  }
}
