// stylelint-disable declaration-no-important

.bd-masthead {
  position: relative;
  padding: 1rem ($grid-gutter-width / 2);
  background: $bd-topaz-navbar-g1; /* Old browsers */
  //background: linear-gradient(to bottom, $bd-topaz-navbar-g2 20%, $bd-topaz-navbar-g3 100%);
  background: linear-gradient(to right, $bd-topaz-navbar-g1 15.57%, $bd-topaz-navbar-g2 83.9%);

  h1 {
    line-height: 1;
  }

  .btn {
    width: 100%;
    padding: .4rem 1rem;
    font-size: 1.25rem;
    font-weight: 500;
  }

  @include media-breakpoint-up(md) {
    .btn {
      padding: .8rem 2rem;
    }
  }

  .carbonad {
    margin-top: 0 !important;
    margin-bottom: -3rem !important;
  }

  @include media-breakpoint-up(sm) {
    padding-top: 4rem;
    padding-bottom: 4rem;

    .carbonad {
      margin-bottom: 0 !important;
    }
  }

  @include media-breakpoint-up(md) {
    h1 {
      font-size: 4rem;
    }

    .carbonad {
      margin-top: 3rem !important;
    }
  }

  &.bd-masthead-home {
    position: relative;
    h2 {
      font-size: 40px;
      text-shadow: 0 1px 2px rgba($bd-dark, .35);
    }
    .lead {
      margin-bottom: 0;
      font-size: 20px;
      font-weight: 400;
      line-height: 24px;
    }
    &::after,
    &::before {
      position: absolute;
      top: 0;
      z-index: 0;
      display: block;
      width: 50vw;
      height: 100%;
      min-height: 370px;
      content: "";
      background-repeat: no-repeat;
      background-size: auto 100%;
    }
    &::before {
      left: 0;
      width: 50vw;
      background-image: url("../img/masthead/docs_masthead_home_left.png");
      background-position: center left -20%;
      background-size: 40%;
    }
    &::after {
      right: 0;
      width: 50vw;
      background-image: url("../img/masthead/docs_masthead_home_right.png");
      background-position: bottom -11% right 0;
      background-size: 35%;
    }
    .banner-home-inner {
      position: relative;
      z-index: 1;
    }
    .img-bd-masthead-cf-computer {
      position: absolute;
      right: 15rem;
      bottom: -77px;
      left: auto;
      z-index: 100;
      display: block;
      max-width: 100%;
      height: 100%;
    }
    @include media-breakpoint-down(md) {
      h2 {
        font-size: 1.875rem;
      }
      &::before {
        background-position: center left -20%;
        background-size: 100%;
      }
      &::after {
        background-position: bottom -3% right 0;
        background-size: 100%;
      }
    }
  }
}

.half-rule {
  width: 6rem;
  margin: 2.5rem 0;
}

.masthead-followup {
  .bd-clipboard { display: none; }

  .highlight {
    padding: .5rem 0;
    background-color: transparent;
  }
}
