body {
  font-family: $font-family-base;
  color: $body-color;
  background-color: $body-bg; // 2
}

blockquote {
  padding: 1.25rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  border: 1px solid #eee;
  border-left-width: .25rem;
  border-radius: .25rem;
}
