@use "variables";

body {
  position: relative;
  overflow-x: hidden;
  font-family: variables.$font-family-base;
  font-size: variables.$font-size-base;
  line-height: variables.$line-height-base;
  color: variables.$body-color;
  font-variant-ligatures: none;
  text-rendering: optimizelegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
