// Colors
$cf-light: #f7f9f9;
$cf-dark: #123034;
$cf-dark-alt: #3d7c84;
$cf-border-color: #d6e2e4;

// Local docs variables
$bd-white:         $white !default;
$bd-black:         #000 !default;

$bd-purple:        #563d7c !default;
$bd-purple-bright: lighten(saturate($bd-purple, 5%), 15%) !default;
$bd-purple-light:  lighten(saturate($bd-purple, 5%), 45%) !default;
$bd-dark:          #231f20 !default;
$bd-download:      #ffe484 !default;
$bd-info:          #5bc0de !default;
$bd-warning:       #f0ad4e !default;
$bd-danger:        #d9534f !default;
$bd-success:       #11b5a4 !default;

$bd-topaz-extra-light:    #e4f3f1 !default;

$bd-topaz-main:    #11b5a4 !default;
$bd-topaz-bright: lighten(saturate($bd-topaz-main, 5%), 15%) !default;
$bd-topaz-light:  lighten(saturate($bd-topaz-main, 5%), 45%) !default;
$bd-topaz-dark:    rgb(11, 111, 99) !default;

$bd-greenish-blue: #2a897d;

// Navbar colors
$bd-topaz-navbar-g1: #0f9c8d;
$bd-topaz-navbar-g2: #11b5a4;
$bd-topaz-navbar-g3: #4ebbd3;

$cf-navbar-link-color: $bd-white;

$bd-bulb-white:      $bd-white;
$bd-bulb-red:        $bd-danger;

$btn-get-started:   #235f5d;

// Body
// Settings for the `<body>` element.
$font-size-base: 1.0625rem;
$body-bg:                   #fff;
$body-color:                #013a3f;

// Doc Sidebar colors
$bd-doc-sidebar-link: $body-color;
$bd-doc-sidebar-link-active: #0f9d8e;

// Doc TOC

$bd-doc-toc-link: $body-color;
$bd-doc-toc-link-active: #10aa9a;

// Doc Content
$bd-doc-content-bg: $body-bg;
$bd-doc-content-border: #dadada;

// Links
//
// Style anchor elements.

$bd-link-color:                $bd-topaz-main !default;
$bd-link-hover-color:          darken($bd-link-color, 15%) !default;

// Fonts
// stylelint-disable value-keyword-case
$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
$font-family-monospace:       "Source Coe Pro", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", monospace;
$font-family-base:            $font-family-sans-serif;
// stylelint-enable value-keyword-case

$headings-color:              #013a3f;


// Override grids

// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1274px,
  xxl: 1600px
);
@include _assert-ascending($grid-breakpoints, "$grid-breakpoints");
@include _assert-starts-at-zero($grid-breakpoints);

// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1214px,
  xxl: 1540px
);
@include _assert-ascending($container-max-widths, "$container-max-widths");

// Grid columns
//
// Set the number of columns and specify the width of the gutters.

$grid-columns:               12;
$grid-gutter-width-base:     28px;
