<!doctype html>
<html lang="en">
  <head>
    {% include header.html %}
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WV3QT3W"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <a id="skippy" class="sr-only sr-only-focusable" href="#content">
      <div class="container">
        <span class="skiplink-text">Skip to main content</span>
      </div>
    </a>
    {% include docs-navbar.html %}

    {% if page.layout == "simple" %}
      {{ content }}
    {% else %}
      <main id="content" role="main">
        {{ content }}
      </main>
    {% endif %}

    {% include footer.html %}
    {% include scripts.html %}
    {% include modal.html %}
  </body>
</html>
