---
layout: compress
---

<!doctype html>
<html lang="en">
  <head>
    {% include header.html %}
  </head>
  <body data-spy="scroll" data-target=".bd-toc" data-offset="100">
    <a id="skippy" class="sr-only sr-only-focusable" href="#content">
      <div class="container">
        <span class="skiplink-text">Skip to main content</span>
      </div>
    </a>

    {% include docs-navbar.html %}

    {% if page.wide %}
    <div class="container-fluid docs-layout" data-layout-mode="{% if page.wide == true %}wide{% else %}boxed{% endif%}">
    {% else %}
    <div class="container docs-layout" data-layout-mode="{% if page.wide == true %}wide{% else %}boxed{% endif%}">
    {% endif %}
      <div class="row flex-xl-nowrap">
        <div class="col-12 col-md-4 col-xl-3 col-xxl-3 bd-sidebar">
          {% include docs-sidebar.html.twig %}
        </div>

        {% if page.toc %}
        <div class="d-none d-xl-block col-xl-2 col-xxl-2 bd-toc">
          <div class="toc-inner">
            {% include docs-toc.html.twig sanitize=true html=content h_min=2 h_max=4 class="section-nav" item_class="toc-entry nav" item_link_class="nav-link" %}
          </div>
        </div>
        {% endif %}

        <main class="col-12 col-md-8 {% if page.toc == true %}col-xl-8 col-xxl-8{% else %}col-xl-10 col-xxl-10{% endif%} py-3 pl-3 bd-content" role="main">
          <div class="bd-content-inner py-md-3 pl-4 pl-md-5 pr-4 pr-md-5">
            <h1 class="bd-title" id="content">{{ page.title | smartify }}</h1>
            <p class="bd-lead">{{ page.description | smartify }}</p>
            <div class="bd-content-top-controls">
              <div class="btn-group dropleft">
                <button type="button" class="btn dropdown-toggle btn-control-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fas fa-cog"></i>
                </button>
                <div class="dropdown-menu">
                  <div class="form-group">
                    <span class="switch switch-sm">
                      <input type="checkbox" class="switch" id="layoutModeSwitcher">
                      <label for="layoutModeSwitcher">Wide layout</label>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            {{ content }}
          </div>
        </main>
      </div>
    </div>

    {% include scripts.html %}
  </body>
</html>
