<!doctype html>
<html lang="en">
  <head>
   
    {% include header.html %}
  </head>
  <body>
    <div style="display: block; background: #fff; position: sticky; border-bottom: 1px solid #223b56; flex-direction: row;">
      <div style="padding: 10px; text-align: center;">
        <span style= "letter-spacing: 0.05em; font-size: .875rem; font-color: #223b56;">You are viewing documentation for Codefresh Classic. &nbsp;&nbsp;</span>
        <span style="background: #d9534f; color: #fff; letter-spacing: .06em; text-transform: uppercase; font-size: .675rem; font-weight: 600px; padding: 0.5em; border-radius: 5px;">New</span>
        <span style="letter-spacing: .05em; font-size: .875rem; font-color: #223b56;">For CSDP documentation, <a href="https://codefresh.io/csdp-docs/">click here ></a></span>
      </div>
    </div>

    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WV3QT3W"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
      <!-- End Google Tag Manager (noscript) -->
          
    <a id="skippy" class="sr-only sr-only-focusable" href="#content">
      <div class="container">
        <span class="skiplink-text">Skip to main content</span>
      </div>
    </a>

    {% include docs-navbar.html %}

    {{ content }}

    {% include footer.html %}
    {% include scripts.html %}
  </body>
</html>
